<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>注脚</title>
</head>

<body>
    <div>
        <br><br><br>
    </div>
    <!--删除："fixed-bottom"属性，防止层级太高，盖住浮动"按钮"！-->
    <!--新增：id='footer'属性-->
    <footer class="py-3 bg-dark" id="footer">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; www.zhangbinmyblog.com 2018-2021</p>
        </div>
    </footer>
    <!--footer:HTML5的新标签,表文档/部分区域的页脚,应包含的元素信息"如创者姓名/文档的日期/创者的联系信息等-->
</body>
</html>
