<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .c1{
            /*display: block;*/
            position:absolute;
            width:100px;
            height:160px;
            background-color:red;
            border-radius: 50px 50px 0 0;
        }
        .c1{
            background-color:red;
            transform-origin:right bottom;
            /*transform:rotate(45deg);*/
            top:50px;
            left:200px;
        }

    </style>
</head>
<body>
    <span class="c1">aaa</span>
</body>
</html>